= javascript_include_tag "chatroom_update"
.wrap
  #messages
    %h2= @chatroom.name
    .mousescroll-messages
      - @messages.each do |message|
        .message
          %p
            %strong= "#{message.user.name}:"
            =message.message
    %form
      %input{:type => 'text'}
/%p
/  %b Lat:
/  = @chatroom.lat
/%p
/  %b Long:
/  = @chatroom.long
/  
/%p
/  %b Radius:
/  = @chatroom.radius

%input{type: "hidden", id: "chatroom_number", value: "#{@chatroom.id}"}
%input{type: "hidden", id: "user_id", value: "#{@user.id}"}
%input{type: "hidden", id: "chatroom_message_count", value: "#{@chatroom.messages.count}"}
%input{type: "hidden", id: "chatroom_user_count", value: "#{@chatroom.users.count}"}

= link_to 'Edit', edit_chatroom_path(@chatroom)
\|
= link_to 'Back', chatrooms_path
