%p#notice= notice

%p
  %b Name
  = @chatroom.name
%p
  %b Lat:
  = @chatroom.lat
%p
  %b Long:
  = @chatroom.long
  
%p
  %b Radius:
  = @chatroom.radius

%input{type: "hidden", id: "chatroom_number", value: "#{@chatroom.id}"}
%input{type: "hidden", id: "user_id", value: "#{@user.id}"}

%div#page-wrap
  %h2 Chatroom
  %p#name-position
  %div#chat-wrap
    %div#chat-area
  
%form#send-message-area
  %p
    Your Message:
  %textarea{id: "sender", maxlength: "200"}
  
  
= link_to 'Edit', edit_chatroom_path(@chatroom)
\|
= link_to 'Back', chatrooms_path
